// #####Varriables######
$color-primary: #222831;
$color-secundary: #fff;
$bgcolor-NavB: #30475e;
$bg-color: #dddddd;
$font-page: 'Lato', sans-serif;
$fontSize-Titulo: 4em;
$fontSize-Subtitulo: 2em;
$gradient-header: linear-gradient(to top, rgba(197, 113, 245, 0.63) 0%, rgba(250, 113, 204, 0.692) 100%);
// #####Varriables######